<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dlu.ghh.mapper.PostKeywordMapper">
  <resultMap id="BaseResultMap" type="com.dlu.ghh.bean.PostKeyword">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="keyword_id" jdbcType="INTEGER" property="keyword" />
    <association property="post" column="post_id" select="com.dlu.ghh.mapper.PostMapper.selectByPrimaryKey"></association>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from post_keyword_tb
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dlu.ghh.bean.PostKeyword">
    insert into post_keyword_tb (id, post_id, keyword_id
      )
    values (#{id,jdbcType=INTEGER}, #{post.id}, #{keyword,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.dlu.ghh.bean.PostKeyword">
    update post_keyword_tb
    set post_id = #{post.id},
      keyword_id = #{keyword,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, post_id, keyword_id
    from post_keyword_tb
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, post_id, keyword_id
    from post_keyword_tb
  </select>
  <!-- 根据postid删除 -->
  <delete id="deleteByPostId" parameterType="java.lang.Integer">
  delete from post_keyword_tb
  where
  post_id=#{postId,jdbcType=INTEGER}
  </delete>
  <select id="selectByKeywordId" resultMap="BaseResultMap">
  	select id, post_id, keyword_id
    from post_keyword_tb
    where keyword_id=#{keywordId}
  </select>
</mapper>