<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dlu.ghh.mapper.SecretMsgMapper">
  <resultMap id="BaseResultMap" type="com.dlu.ghh.bean.SecretMsg">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="msg" jdbcType="VARCHAR" property="msg" />
    <result column="date" jdbcType="TIMESTAMP" property="date"/>
    <association property="receiver" column="receive_user_id" select="com.dlu.ghh.mapper.UserMapper.selectByPrimaryKey"></association>
    <association property="sender" column="send_user_id" select="com.dlu.ghh.mapper.UserMapper.selectByPrimaryKey"></association>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from secret_msg_tb
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dlu.ghh.bean.SecretMsg" useGeneratedKeys="true" keyProperty="id">
    insert into secret_msg_tb (id, receive_user_id, send_user_id, 
      msg,date)
    values (#{id,jdbcType=INTEGER}, #{receiver.id}, #{sender.id}, 
      #{msg,jdbcType=VARCHAR}, #{date,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.dlu.ghh.bean.SecretMsg">
    update secret_msg_tb
    set receive_user_id = #{receiver.id},
      send_user_id = #{sender.id},
      msg = #{msg,jdbcType=VARCHAR},
      date = #{date,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, receive_user_id, send_user_id, msg, date
    from secret_msg_tb
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, receive_user_id, send_user_id, msg, date
    from secret_msg_tb
  </select>
  <!-- 根据userId查询私信 -->
  <select id="selectByUserId" resultMap="BaseResultMap">
	select id, receive_user_id, send_user_id, msg, date
    from secret_msg_tb
    where receive_user_id=#{userId}
  </select>
</mapper>