<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../static/css/foot.css">
		<title></title>
	</head>
	<body>
	<!-- 页面底部 -->
	
		<foot>
			<div id="foot" style="margin-top: 15px;">
				<div style="background-color: #EFEFEF;width: 100%;height: 220px;" class="bottom-com">
					<div style="width: 960px;margin: 0 auto;">
						<div class="box1" style="width: 180px;float: left;text-align: center;color: #262626;">
							<div style="font-size: 18px;margin-top: 25px;margin-bottom: 13px;">
								<b>常务理事单位</b>
							</div>
							<div style="background-color:#c9282e;width: 20px;height: 1px;margin: 0 auto;"></div>
							<div style="font-size: 12px;margin-top: 17px;">
								北京市市政研究院 <br>
								<br>江苏沪宁钢机股份有限公... <br>
								<br> 中交第二公路工程局有限...
							</div>

						</div>
						<div class="box2" style="width: 206px;float: left;text-align: center;color: #262626;">
							<div style="font-size: 18px;margin-top: 25px;margin-bottom: 13px;">
								<b>理事单位</b>
							</div>
							<div style="background-color:#c9282e;width: 20px;height: 1px;margin: 0 auto;"></div>
							<div style="font-size: 12px;margin-top: 17px;">
								北京市市政工程设计研究... <br>
								<br>南京市公共工程建设中心 <br>
								<br>山西省交通科学研究院
							</div>

						</div>
						<div class="box3" style="width: 185px;float: left;text-align: center;color: #262626;">
							<div style="font-size: 18px;margin-top: 25px;margin-bottom: 13px;">
								<b>行业相关机构</b>
							</div>
							<div style="background-color:#c9282e;width: 20px;height: 1px;margin: 0 auto;"></div>
							<div style="font-size: 12px;margin-top: 17px;text-transform: uppercase;">
								iabse基金 <br>
								<br>国际桥梁及结构工程协会 <br>
								<br>中国土木工程协会
							</div>

						</div>
						<div class="box4" style="width: 194px;float: left;text-align: center;color: #262626;">
							<div style="font-size: 18px;margin-top: 25px;margin-bottom: 13px;">
								<b>媒体链接</b>
							</div>
							<div style="background-color:#c9282e;width: 20px;height: 1px;margin: 0 auto;"></div>
							<div style="font-size: 12px;margin-top: 17px;text-transform: uppercase;">
								桥头堡 <br>
								<br>中国公路网 <br>
								<br>拱桥网
							</div>

						</div>
						<div class="box5" style="width: 192px;float: left;text-align: center;color: #262626;">
							<div style="font-size: 18px;margin-top: 25px;margin-bottom: 13px;">
								<b>行业链接</b>
							</div>
							<div style="background-color:#c9282e;width: 20px;height: 1px;margin: 0 auto;">

							</div>
							<div style="font-size: 12px;margin-top: 17px;text-transform: uppercase;">
								港珠澳大桥 <br>
								<br>舟山大陆连岛工程 <br>
								<br>泰州大桥
							</div>
						</div>
						<div style="clear: both;"></div>
					</div>
				</div>

				<div class="thebottom-back">
					<div class="aboutus">
						<div class="aboutus-w">关于我们</div>
						<div class="aboutus-w" style="border-left: solid 2px #F7D0D1;">联系我们</div>
						<div class="aboutus-w" style="border-left: solid 2px #F7D0D1;">广告服务</div>
						<div class="aboutus-w" style="border-left: solid 2px #F7D0D1;">招聘信息</div>
						<div class="aboutus-w" style="border-left: solid 2px #F7D0D1;">网站使用条款</div>
						<div class="aboutus-w" style="border-left: solid 2px #F7D0D1;">网站免责说明</div>
					</div>
					<br class="only-phone" />
					<div class="thelast">
						桥梁网（辽ICP备18007311号-1）网站统计
						<br>GMT+8,2018年4月26日	,Processed in <br class="only-phone">
						<br class="only-phone">0.047294 second(s),10 queries,Gzip On.
						<br>
					</div>

				</div>
			</div>
		</foot>

	</body>
</html>
